<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br>
        <h3>Create a New Listing!</h3>
        <br>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="add a catchy title" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a valid description</div>
            </div>

            <!-- for uploading image -->
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="ex:1200" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid!</div>
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="eg:india" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid!</div>
                </div>
            </div>
            

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="eg:Panaji,Goa" type="text" class="form-control" required>
                <div class="invalid-feedback">Enter a valid location!</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Select Category</label>
                <select name="listing[category]" class="form-control" id="category" required>
                    <option disabled selected>Select a category</option>
                    <% const categories = [
                        "Trending", "Rooms", "Iconic Cities", "Mountains", "Castles",
                        "Amazing Pools", "Farms", "Arctic", "Domes", "Boats"
                    ]; %>
                    <% for(let c of categories) { %>
                        <option value="<%= c %>"><%= c %></option>
                    <% } %>
                </select>
                <div class="invalid-feedback">Please select a category</div>
            </div>
        
            <button class="btn btn-dark add-btn mt-3">Add</button>
        </form>
        <br><br>
    </div>
</div>